.intro__list {
  width: 100%;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif, "Helvetica Neue";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  font-style: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}