.cover {
  max-width: 1184px;
  min-height: calc(100vw*740/1184);
  margin: 92px auto 0;
  background-image: url(./../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  
@media screen and (max-width: 1024px) {
  .cover {
    margin-right: 0;
    margin-left: 0;
  }
}
  
@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 0;
  }
}
  
@media screen and (max-width: 600px) {
  .cover {
    margin: 66px 0 0;
  }
}