.header__lang-links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 0 6px;
  align-items: flex-end;
  gap: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin-bottom: 8px;
  }
}